/* =============================== */
/*   BASIC SETUP   */
/* =============================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    background: rgba(0, 0, 0, 1);
}


/* HEADINS & PARAGRAPHS */

h1{
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

h2{
    font-size: 4rem;
    color: #121212;
    font-weight: 700;
    text-align: center;
}

p{
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1rem auto;
}


/* =============================== */
/*   REUSABLE COMPONENTS   */
/* =============================== */

.row{
    max-width: 114rem;
    margin: 0 auto;
    background: #FFF;
}

.card{
    flex: 2rem;
    padding: 2.5rem 0;
    border-radius: .5rem;
    background: #fafafa;
    color: #707070;
    margin: 0 1rem;
    font-size: 2.5rem;
    align-items: center;
}


/* BUTON */
.btn{
    background: #FF5959;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}


/* START HEADER-SECTION DESIGN */

#header-section{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../img/donation1.jpg) no-repeat center center / cover;
    
}

.header-items{
    width: 60%;
    margin: 0 auto;
    padding: 15rem 0;
    text-align: center;
}

.header-items .header-describtion{
    width: 80%;
}

.header-items .btn-donate-1{
   margin: 5rem 0;
}
/* END HEADER-SECTION DESIGN */

/* START DONATE-SECTION DESIGN */


.donate-items{
    padding: 10rem 0;
    text-align: center;
}

.donate-items p{
    color: #707070;
    width: 60%;
}
.donate-items .donate-amount{
    display: flex;
    flex-direction: row;
    width: 70%;
}


/* END DONATE-SECTION DESIGN */


