/* =============================== */
/*   BASIC SETUP   */
/* =============================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    line-height: 1.3;
    background: rgba(0, 0, 0, 1);
}

:focus{
    outline: 0;
}


/* HEADINS & PARAGRAPHS */

h1{
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

h2{
    font-size: 4rem;
    color: #121212;
    font-weight: 700;
    text-align: center;
}
h4{
    color: #707070;
    font-size: 2.5rem;
}

h5{
    font-size: 1.8rem;
    color: #121212;
    font-family: 'Poppins', sans-serif;
}

p{
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1rem auto;
}

img{
    width: 100%;
}


/* =============================== */
/*   REUSABLE COMPONENTS   */
/* =============================== */

.row{
    max-width: 114rem;
    margin: 0 auto;
    background: #FFF;
}

.card{
    width: 11rem;
    padding: 3rem 0;
    border-radius: .5rem;
    background: #fafafa;
    margin: 0 auto;
    border: 0.2rem solid #fafafa;
    cursor: pointer;
}

/* .card:hover{
    border-color: #FF5959;
    background-color: #FFEEEE;
} */

.little-describtion{
    color: #707070;
    width: 55%;
    text-align: center;
    font-size: 1.5rem;
}


/* BUTON */
.btn{
    background: #FF5959;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}


/* START HEADER-SECTION DESIGN */

#header-section{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(../img/donation1.jpg) no-repeat center center / cover;
    
}

.header-items{
    width: 60%;
    margin: 0 auto;
    padding: 15rem 0;
    text-align: center;
}

.header-items .header-describtion{
    width: 80%;
}

.header-items .btn-donate-1{
   margin: 5rem 0;
}
/* END HEADER-SECTION DESIGN */

/* START DONATE-SECTION DESIGN */


.donate-items{
    padding: 10rem 0;
    text-align: center;
}

.donate-items .donate-amount{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 4rem auto;
}

.donate-items .donate-amount .active{
    border-color: #FF5959;
    background-color: #FFEEEE;
}

.donate-items form input{
    width: 60%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.2rem solid #DADADA;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.8rem;
    color: #707070;
    font-weight: 500;
    margin-bottom: 3rem;
}

/* END DONATE-SECTION DESIGN */


/* START DONATE-PLAN-SECTION DESIGN */
.donate-plan-describtion{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.donate-plan-card-1{
    background-color: rgb(79, 157, 166, 15%);
}

.donate-plan-card-2{
    background-color: rgb(255, 89, 89, 15%);
}

.donate-plan-card-3{
    background-color: rgb(255, 244, 214, 100%);
}

.donate-plan-describtion .card{
    flex: auto;
    margin: 5rem 1rem;
    padding: 1rem 2rem;
}

.donate-plan-describtion img{
    width: 5rem;
    height: 5rem;
    margin: 2rem 0;
}

.donate-plan-describtion p{
    font-size: 1.3rem;
    color: #707070;
    text-align: justify;
    font-weight: 400;
}


/* END DONATE-PLAN-SECTION DESIGN */

/* START BLOG SECTION DESIGN */

.blog-items{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.blog-items .blog-item-left{
    flex: 50%;
}

.blog-items h2{
    font-size: 3.5rem;
    text-align: left;
}

.blog-items  p{
    font-size: 1.2rem;
    text-align: justify;
    color: #707070;
    padding-right: 4rem;
}

.blog-items .btn-contribute{
    margin-top: 1rem;
    font-size: 1.3rem;
}


.blog-items .blog-item-right{
    flex: 50%;
}

.blog-items img{
    width: 35rem;
    height: 30rem;
}
/* END BLOG SECTION DESIGN */


